.form input.mt_19{
	line-height:38px;
	margin-top:19px;
}
.form .btn_fgt{
	margin-top:35px;
}
.code{
	position:absolute;
	top:96px;
	right:15px;
	display:block;
	width:95px;
	height:34px;
	text-align:center;
	line-height:34px;
	font-size:14px;
	background:#0f91c5;
	color:#fff;
	
}
